.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    border: 5px solid #FFD700;
    margin-left: 100px; 
    margin-right: 100px;
     border-radius: 10px; 
     background-color: blue;
      width: 600px;
     margin: 0 auto;

}
